<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <%= csrf_meta_tags %>
<!-- Check comment in notepad in root directory for links here  -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>


